#editorconfig.org
root = true

[{*.yml, *.yaml, *.json, *.js, *.jsx, *.ts, *.tsx, *.html, *.css, *.scss, *.less, *.md}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.go]
indent_style = tab
charset = utf-8
trim_trailing_whitespace = true
