<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <div class="navbar-item">
                <button class="navbar-burger" data-target="topbar-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="{{site.url}}/">{{site.title}}</a>
            </div>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item search hide-for-print">
                    <div id="search-field" class="field">
                        <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}}
                               autofocus{{/if}}>
                    </div>
                </div>
                <a class="navbar-item" href="{{site.url}}">Home</a>
                <a class="navbar-item" href="https://github.com/crc-org/crc">Source Code</a>
            </div>
        </div>
    </nav>
    <script data-goatcounter="https://crc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</header>
