/darwin/CrcComponents.plist
/darwin/root-crc/
/darwin/Distribution
/darwin/Resources/LICENSE.txt
/darwin/Resources/welcome.html
/darwin/scripts/postinstall
/darwin/vfkit.entitlements
/darwin/VERSION
/darwin/*.pkg
/windows/msi/
/windows/product.wxs
/chocolatey/crc/*.nupkg
/chocolatey/crc/crc.nuspec
/chocolatey/crc/tools/*.exe
/chocolatey/crc/tools/LICENSE.txt
/chocolatey/crc/VERIFICATION.txt
/chocolatey/crc/tools/VERIFICATION.txt
