name: Build RPM
on:
  push:
    branches:
      - "main"
  pull_request: {}
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        go:
          - '1.20'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Build rpm
        run: CONTAINER_RUNTIME=docker make test-rpmbuild
      - name: Upload linux binary and rpms
        uses: actions/upload-artifact@v4
        with:
          name: linux binary and rpm
          path: |
            ./crc
            ./RPMS
