name: Run 'make check'
on:
  push:
    branches:
      - "main"
  pull_request: {}
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS-13
          - macOS-14
          - ubuntu-latest
          - ubuntu-20.04
        go:
          - '1.22'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Build
        run: make check
      - if: runner.os == 'Linux'
        name: Go version check
        run: make goversioncheck
