name: Run 'make check'
on:
  push:
    branches:
      - "main"
      - "old-main"
  pull_request: {}
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macOS-11
          - ubuntu-latest
          - ubuntu-18.04
        go:
          - 1.17
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Build
        run: make check
