name: Build and publish docs
on:
  push:
    branches:
      - "main"
      - "old-main"
  pull_request: {}
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Build docs
        run: CONTAINER_RUNTIME=docker make build_docs
      - name: Check links in docs
        run: CONTAINER_RUNTIME=docker make docs_check_links
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
