name: Build Windows installer
on:
  push:
    branches:
      - "main"
  pull_request: {}
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2019
          - windows-2022
        go:
          - '1.20'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: Set path for heat.exe and light.exe
        run: echo "$WIX\\bin" >>$GITHUB_PATH
        shell: bash
      - name: Build Windows installer
        run: make out/windows-amd64/crc-windows-installer.zip
      - name: Upload windows installer artifact
        uses: actions/upload-artifact@v3
        with:
          name: Windows Installer (${{ matrix.os }})
          path: "./out/windows-amd64/crc-windows-installer.zip"
